<div>
    <section class="banner">
        <div class="banner-content">
            <h3>About Us</h3>
            <br>
            <p>
                We are <b style="font-size: 18px;">ReplicationProject</b>, a service that enables the secure and reliable sharing of documents over a distributed network. Our goal is to simplify the search and download of documents stored on multiple replicas, ensuring fast and reliable access.
            </p>
            <br>
            <h3>Our Mission</h3>
            <br>
            <p>
                We are committed to offering a decentralized document sharing experience, ensuring an efficient and secure service. By connecting to distributed nodes, we enable users to access the documents they want in a reliable way.
            </p>
            <br>
            <h3>How does it work?</h3>
            <br>
            <p>
                After registering on a central server, users can search for documents by name. We contact the active nodes to find and download the requested document from one of the selected nodes, optimizing the process to ensure a fast download and canceling requests to other nodes.
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>
                Thank you for choosing <b style="font-size: 18px;">Replication Project</b>, where document sharing is safe, fast and reliable!
            </p>
            <br>
        </div>
    </section>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
    >
        <defs>
            <path
                id="gentle-wave"
                d="M-160 44c30 0
        58-18 88-18s
        58 18 88 18
        58-18 88-18
        58 18 88 18
        v44h-352z"
            />
        </defs>
        <g class="waves">
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="0"
                fill="#2F0B63FF"
                fill-opacity=".2"
            />
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="3"
                fill="#2F0B63FF"
                fill-opacity=".5"
            />
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="6"
                fill="#2F0B63FF"
                fill-opacity=".9"
            />
        </g>
    </svg>


</div>
