<div>
    <section class="banner">
            <img class="banner-image" src="../../../assets/images/utente.png"/>
            <div class="me-5">
                <h3>Hello!</h3>
                <br>
                <p>
                    Username: <i style="font-size: 19px;">{{username}}</i>
                </p>
                <br>
                <button (click)="changePassword()">Change Password</button>
            </div>
    </section>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
    >
        <defs>
            <path
                id="gentle-wave"
                d="M-160 44c30 0
        58-18 88-18s
        58 18 88 18
        58-18 88-18
        58 18 88 18
        v44h-352z"
            />
        </defs>
        <g class="waves">
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="0"
                fill="#2F0B63FF"
                fill-opacity=".2"
            />
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="3"
                fill="#2F0B63FF"
                fill-opacity=".5"
            />
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="6"
                fill="#2F0B63FF"
                fill-opacity=".9"
            />
        </g>
    </svg>


</div>
