@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
}

.alert-dialog{
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden !important;
}

.alert-title{
    width: 80%;
    margin-top: 0.70rem;
    border-bottom: 1px solid #2F0B63FF;
    text-align: center;
}

.alert-actions{
    align-items: center;
}

h2{
    font-size: 26px;
    color: black;
    text-align: center;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
}

p {
    font-size: 14px;
    margin-top: 0.7rem !important;
    color: black;
    text-align: center;
}

.button-primary{
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 14px;
    padding: 6px 24px;
    background-image: linear-gradient(to right, #502a81 0%, #2f0b63 51%, #502a81 100%);
    border-radius: 6px;
    cursor: pointer;
}

.button-primary:active {
    transform: scale(0.98);
}

.button-primary:hover{
    color: #2F0B63FF;
    background-color: white;
    background-image: none;
    border: 2px solid #2F0B63FF;
}

.button-second{
    color: #2F0B63FF;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 14px;
    padding: 6px 24px;
    background-image: linear-gradient(to right, #dfdde1 0%, rgb(194, 194, 194) 100%);
    border-radius: 6px;
    cursor: pointer;
}

.button-second:active {
    transform: scale(0.98);
}

.button-second:hover{
    color: #2F0B63FF;
    background-color: white;
    background-image: none;
    border: 2px solid #2F0B63FF;
}



