<p-toast></p-toast>
<div class="alert-dialog">
    <div class="alert-title">
        <h2 class="mt-1">Forget Password</h2>

    </div>
    <p>Enter the email to recover your password</p>
    <input type="text" [(ngModel)]="inputValue" class="form-control"  style="width: 75% !important; border-radius: 10px !important; " placeholder="Email">
    <div class="alert-actions pb-2" style="margin-top: 0.7rem;">
        <div style="margin-top: 0.5em !important;">
            <button (click)="forgetEmail(inputValue)" class="btn button-primary" style="margin-right: 0.15em;">Send</button>
            <button class="btn button-second" style="margin-left: 0.15em;" (click)="closeDialog()">Close</button>
        </div>
    </div>

</div>
