<div class="container">
    <p-toast></p-toast>
    <div class="form-container sign-up">
        <form #form="ngForm" id="form" [formGroup]="formControl" (submit)="changePassword()">
            <h1>Change Password</h1>
            <input type="password" placeholder="Previous Password" #previousPassword [formControl]="previousPasswordControl" (input)="input()">
            <mat-error *ngIf="(previousPasswordControl?.invalid && (previousPasswordControl?.dirty || previousPasswordControl?.touched)) || (!form.valid && form.submitted)">{{getErrorMessage(previousPasswordControl)}}</mat-error>
            <input type="password" placeholder="New Password" #password [formControl]="passwordControl" (input)="input()">
            <mat-error *ngIf="(passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)) || (!form.valid && form.submitted)">{{getErrorMessage(passwordControl)}}</mat-error>
            <input type="password" placeholder="Confirm New Password" #passwordConfirm [formControl]="passwordConfirmControl" (input)="input()">
            <mat-error *ngIf="(passwordConfirmControl?.invalid && (passwordConfirmControl?.dirty || passwordConfirmControl?.touched)) || (!form.valid && form.submitted)">{{getErrorMessage(passwordConfirmControl)}}</mat-error>
            <button type="submit" form="form" [disabled]="!form.valid">Change Password</button>
            <mat-error style="margin-top: 25px;font-size: 15px;" *ngIf="form.submitted && unregistered">{{getRequestErrorMessage()}}</mat-error>
        </form>
    </div>
</div>
<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
>
    <defs>
        <path
            id="gentle-wave"
            d="M-160 44c30 0
        58-18 88-18s
        58 18 88 18
        58-18 88-18
        58 18 88 18
        v44h-352z"
        />
    </defs>
    <g class="waves">
        <use
            xlink:href="#gentle-wave"
            x="50"
            y="0"
            fill="#2F0B63FF"
            fill-opacity=".2"
        />
        <use
            xlink:href="#gentle-wave"
            x="50"
            y="3"
            fill="#2F0B63FF"
            fill-opacity=".5"
        />
        <use
            xlink:href="#gentle-wave"
            x="50"
            y="6"
            fill="#2F0B63FF"
            fill-opacity=".9"
        />
    </g>
</svg>

